<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Fashishi Bot</title>
    <link rel="stylesheet" href="/style.css" />
    <meta charset="UTF8" />
    <link
      rel="shortcut icon"
      href="https://cdn.discordapp.com/avatars/644875833390923776/7f31675cb71f57d50dfc09050d25aecc.png"
    />
   
  </head>
  <nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
   <script src="/client.js" defer></script>
  <body bgcolor="white">
    <br />
    <div class="title" role="header">
      <h1>
        Fashishi
      </h1>
      <br />
      <br />
      The One and Only Discord Multipurpose ot Which You Will Need for Your
      Server!<br /><br />
    </div>
    <br />
    <hr length="1000" size="5" color="white" />
    <div class="lb" role="document">
      <div class="leadbanner" role="banner">
        <br />
        <h3>
          Leaderboard:
        </h3>
      </div>
      <p id="leaderboard" placeholder="Nothing to see here." >
      </p>
    </div>
  </body>
</html>
